registry=https://packages.aliyun.com/5eb3e37038076f00011bcd4a/npm/npm-registry/
//packages.aliyun.com/5eb3e37038076f00011bcd4a/npm/npm-registry/:_authToken=15a17652-f17e-49c4-86c4-e22e8de375a0
//registry.npmjs.org/:_authToken=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

always-auth=true
