@import './transition/index';
@import './resetNaive';

/* stylelint-disable selector-pseudo-element-no-unknow */

html {
  // 方便 unocss 换算，1rem = 4px unocss 是以 0.25rem 为单位
  font-size: 4px;
}

body {
  font-size: 14px;
  color: var(--n-text-color);
}

html,
body,
#app,
.n-config-provider,
.nel {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

:fullscreen {
  background-color: #fff;
}

html.dark {
  --c-bg: #05050533;
  --c-scrollbar: #444;
  --c-scrollbar-hover: #666;

  :fullscreen {
    background-color: #101014;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

// scrollbar

:root {
  --c-bg: #fafafc;
  --c-scrollbar: #ddd;
  --c-scrollbar-hover: #aaa;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}
